<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
 <connectionStrings>
  <add name="ConnectionString" connectionString="Server=tcp:ikgoy1af5q.database.windows.net;Database=OneChat;User ID=mspecdb@ikgoy1af5q;Password=Urmother1;Trusted_Connection=False;Encrypt=True;" />
  <add name="AnyChatforWPF.Properties.Settings.OneChatConnectionString"
   connectionString="Data Source=ikgoy1af5q.database.windows.net;Initial Catalog=OneChat;Persist Security Info=True;User ID=mspecdb;Password=Urmother1"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
